/* quiet theme */
@define-color background  #1F252A;
@define-color normal #97D59B;

@define-color black0    #1F252A;
@define-color black1    #384149;
@define-color grey0     #6A6A6A;
@define-color grey1     #6A6A6A;
@define-color red0      #FF8080;
@define-color red1      #FFAEAE;
@define-color green0    #97D59B;
@define-color green1    #BEF8C1;
@define-color yellow0   #FFFE80;
@define-color yellow1   #FCFBA6;
@define-color blue0     #80D1FF;
@define-color blue1     #ACE1FF;
@define-color magenta0  #C780FF;
@define-color magenta1  #D8A8FF;
@define-color cyan0     #80FFE4;
@define-color cyan1     #A2FFEB;
@define-color white0    #D5D5D5;
@define-color white1    #FFFFFF;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0px;
	padding: 0;
}


#waybar {
	/*border-radius: 40;*/
	font-family:FiraCode Nerd Font;
	font-size: 14pt;
	min-height: 32pt;
	background-color: @background;
	color: @normal;
	transition-property: background-color;
	transition-duration: .5s;
}


#workspaces button {
	padding: 0 10px;
	color: @normal;
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px @grey1;
}


#workspaces button.focused {
	background-color: @black1;
	box-shadow: inset 0 -3px @normal;
}


#workspaces button.urgent {
	background-color: @red0;
	box-shadow: inset 0 -3px @normal;
}


#mode {
	background-color: @black1;
	border-bottom: 3px solid @normal;
}


#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#language,
#window,
#workspaces,
#mode,
#network,
#custom-waytooth{
	/*padding: 0 0px;*/
	margin: 0 2px;
	color: @normal;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0px;
}


/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0px;
}


/* Animation */
@keyframes blink-bottom-green {
	from {
		border-bottom: 3px solid rgba(151, 213, 155, 1);
	}
	to {
		border-bottom: 3px solid rgba(151, 213, 155, 0.2);
	}
}


@keyframes blink-bottom-magenta {
	from {
		border-bottom: 3px solid rgba(199, 128, 255, 1);
	}
	to {
		border-bottom: 3px solid rgba(199, 128, 255, 0.2);
	}
}


@keyframes blink-bottom-yellow {
	from {
		border-bottom: 3px solid rgba(255, 254, 128, 1);
	}
	to {
		border-bottom: 3px solid rgba(255, 254, 128, 0.2);
	}
}


@keyframes blink-bottom-red {
	from {
		border-bottom: 3px solid rgba(255, 128, 128, 1);
	}
	to {
		border-bottom: 3px solid rgba(255, 128, 128, 0.2);
	}
}


#network.disconnected {
	color: @yellow0;
}


#pulseaudio.muted {
	color: @red0;
}


#idle_inhibitor{
	margin-right: 10px;
	margin-left: 5px;
}


#custom-waytime.charging{
	border-bottom: 3px solid @green0;
	animation-name: blink-bottom-green;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#custom-waytime.dis_normal{
	border-bottom: 3px solid @magenta0;
	animation-name: blink-bottom-magenta;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-waytime.dis_warning{
	border-bottom: 3px solid @yellow0;
	animation-name: blink-bottom-yellow;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#custom-waytime.dis_crit{
	border-bottom: 3px solid @red0;
	animation-name: blink-bottom-red;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


