configuration {
	modi:				"drun,run";
	sidebar-mode:		true;
	terminal:			"foot";
	font:				"monospace 20";
	show-icons:			true;
	run-command:		"{cmd}";
	run-shell-command:	"{terminal} {cmd}";
	icon-theme:			"oomox-greenled";
	case-sensitive:		false;
	cycle:				true;
	location:			0;
	display-run: "";
	display-drun: "";
}
	@theme "usual"

/* vim:ft=css
