configuration {
	modi:				"drun,run";
	sidebar-mode:		true;
	terminal:			"st";
	width:				1000;
	lines:				16;
	columns:			3;
	font:				"sans 20";
	show-icons:			true;
	run-command:		"{cmd}";
	run-shell-command:	"{terminal} -e {cmd}";
	icon-theme:			"oomox-ledendark";
	case-sensitive:		false;
	cycle:				true;
	bw:					2;
	location:			0;
	line-margin:		2;
	display-run: " ";
	display-drun: " ";
	theme: "usual";
}

/* vim:ft=css
