@define-color highlight #97D59B;
@define-color background  #1F252A;

window {
	margin: 0px;
	border: 2px solid @highlight;
	background-color: @background;
	font-family: UbuntuMono Nerd Font;
}


#inner-box {
	margin: 0px;
	border: none;
	background-color: @background;
}

#outer-box {
	margin: 5px;
	padding:10px;
	margin-top: -22px;
}

#entry:selected{
}


